[submodule ".scaffold"]
	path = .scaffold
	url = git@github.com:israellopezdeveloper/scaffold.git
[submodule "include/nanologger"]
	path = include/nanologger
	url = git@github.com:israellopezdeveloper/nanologger.git
