m4/*
!m4/my_*.m4
autom4te.cache/
build/
gtest/
Makefile.in
aclocal.m4
ar-lib
compile
config.guess
config.h.in
config.sub
configure
install-sh
ltmain.sh
missing
.cache/
depcomp
test-driver
compile_commands.json

